
.margin-left-right-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-align-center{
    text-align: center;
}
button, input, optgroup, select, textarea,.btn-view {
    margin: 8px;
}
.btn-logout {
    margin: 0px;
}



