
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
a.back-button {
    color: white;
    text-decoration: underline;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

/* nav {
    background-color: purple;
    color:#fff;
    padding: 30px 60px;
    display: flex;
    justify-content: space-around;
} */

form {
    display: flex;
    flex-direction: column;
}

input {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #007bff;
}